asttokens==3.0.0
beautifulsoup4==4.12.3
black==24.10.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
decorator==5.1.1
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.1.0
frozendict==2.4.6
html5lib==1.1
idna==3.10
ipython==8.18.1
isort==5.13.2
jedi==0.19.2
lxml==5.3.0
matplotlib-inline==0.1.7
multitasking==0.0.11
mypy-extensions==1.0.0
numpy==2.0.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
peewee==3.17.8
pexpect==4.9.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.17.0
soupsieve==2.6
stack-data==0.6.3
tomli==2.2.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
wcwidth==0.2.13
webencodings==0.5.1
yfinance==0.2.51
